html, body {
    background-color: #FBFBFB;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.table-hover tbody tr:hover td{ background-color:#F2FBFF; }
